<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="app.digitus.savr.SavrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Savr">
        <activity
            android:name=".ui.ArticleActivity"
            android:exported="true"
            android:theme="@style/Theme.Savr"
            android:parentActivityName=".ui.MainActivity"
            />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Savr"
            android:parentActivityName=".ui.SettingsActivity"
            />
        <activity
            android:name=".ui.PrefsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:theme="@style/Theme.AppCompat" /> <!-- adjustResize ensures that the main window resizes to make room for the soft keyboard -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="developer.android.com"
                    android:pathPrefix="/savr"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>

<!--                this is where Savr receives urls shared to it -->

                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".glance.SavrGlanceAppWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jetnews_glance_appwidget_info" />
        </receiver>
    </application>

</manifest>